@{
    ViewData["title"] = "Portal Spark Escola";
}

<div class="mt-5">

    <div class="img_principal">
        <img src="/img/Portal-do-gestor.jpg" class="img-fluid" />
    </div>

    <p class="mt-5 mb-5" style="font-weight: 800;">Explore o Portal Spark Escola e descubra como a tecnologia pode facilitar a vida escolar, promovendo uma gestão mais organizada e um acompanhamento mais eficiente do desempenho dos alunos.</p>

    <div class="row g-3 justify-content-center text-center menus">
        <div class="col-2">
            <a asp-controller="Aluno" asp-action="Cadastro">
                <i class="bi bi-person-vcard"></i>
                <h5>Cadastrar aluno</h5>
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Aluno" asp-action="ListaAlunos">
                <i class="bi bi-card-checklist"></i>
                <h5>Lista de alunos</h5>
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Usuario" asp-action="Cadastro">
                <i class="bi bi-person-add"></i>
                <h5>Cadastrar colaborador</h5>
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Usuario" asp-action="ListaUsuario">
                <i class="bi bi-person-lines-fill"></i>
                <h5>Lista de colaboradores</h5>
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Gestao" asp-action="Cadastro">
                <i class="bi bi-briefcase"></i>
                <h5>Publicar vaga de emprego</h5>
            </a>
        </div>
        <div class="col-2">
            <a asp-controller="Login" asp-action="Sair">
                <i class="bi bi-x-lg"></i>
                <h5>Sair do sistema</h5>
            </a>
        </div>
    </div>
</div>