@model CasaDoSaber.Models.CarreirasModel

@{
    ViewData["title"] = "Seja bem-vindo à Casa Do Saber";
}

<div class="container-fluid mt-5">

    <img src="/img/img-Index-Vagas.jpeg" class="img-fluid"/>

    <div class="mt-5">
        <h1 class="display-5 text-center text-uppercase">@ViewData["title"]</h1>
    </div>

    <div class="subtitulo mt-5 mb-3">
        <h5>ENTRE PARA UM TIME QUE TRANSFORMA A EDUCAÇÃO!</h5>
    </div>

    <p>Somos apaixonados pelo que fazemos e acreditamos no poder positivo da educação. Na Casa do Saber, cada um de nós desempenha um papel fundamental no sucesso da nossa comunidade escolar. Todas as nossas conquistas são fruto da colaboração! Nosso sucesso é compartilhado, e acreditamos que, por meio da união, podemos encantar ainda mais nossos alunos com o conhecimento de hoje, enquanto preparamos os líderes de amanhã.</p>
    
    <p><strong>Nossa Cultura</strong> é focada em construir um ambiente inclusivo e colaborativo, onde todos possam ser a melhor versão de si mesmos - e nos ajudar a ser a nossa melhor versão! Procuramos pessoas com paixão, curiosidade e coragem para fazer a diferença aqui.</p>

    <p>Acolhemos talentos diversos, porque acreditamos que grandes ideias vêm de pessoas com diferentes trajetórias. Oferecemos oportunidades para talentos que estão ingressando no mercado educacional e somos apaixonados por impulsionar nosso time.</p>

    <p><strong>É trabalhando e crescendo juntos que atingimos o nosso propósito: Transformar a Educação para um Futuro Melhor!</strong></p>

    <p><strong>Junte-se a nós</strong> para oferecer a melhor educação aos nossos alunos, precisamos de pessoas comprometidas em alcançar a excelência no ensino. Buscamos talentos empenhados em promover um ambiente de aprendizado enriquecedor e inspirador. Se você deseja fazer parte dessa transformação e gosta de trabalhar em equipe para um mundo melhor, aqui é o seu lugar! Temos oportunidades por todo o Brasil!</p>
</div>