@{
    ViewData["title"] = "Detalhes da vaga";
}

<div class="mt-5 mb-5">

    <div class="row align-items-center">
        <div class="col-6 border text-center mt-5">
            <div class="titulo">
                <h1 class="display-4">@ViewData["title"]</h1>
            </div>
            <div class="img-detalhes mb-5">
                <img src="/img/pexels-fauxels-3184419-removebg-preview.png" class="img-fluid" />
            </div>
        </div>
        <div class="col-6">
        </div>
    </div>

    



</div>